body {
  color: #797979;
  font-family: "Bangers", cursive;
}

.card1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.item {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 4px;
  margin: 4px;
  align-content: center;
}

/* Esta porción de css no es de mi autoria*/
.line {
  position: relative;
  top: 50%;
  width: 16em;
  margin: 0 auto;
  border-right: 2px solid rgba(3, 52, 99, 0.75);
  font-size: 280%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-family: monospace;
  color: #0aa5aa;
  background: #e7e7f1;
  width: 3px;
}

/*Animation*/
.anim-typewriter {
  animation: typewriter 4s steps(36) 1s 1 normal both,
    blinkTextCursor 500ms steps(36) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 16em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
